body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
  padding: 25px 150px 25px 150px;
  background: url( ../images/commissar-myriad_124x100.gif ) no-repeat fixed 10px 10px;
}

.menu {
    margin-top: 25px;
    border-top: 1px dotted;
    padding-top: 5px;
    width: 100%;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    float: left;
    text-decoration: none;
    padding: 10.5px 11px;
}

.menu ul li a:visited {
}
ul.star_opt {
   list-style-image: url( ../images/star_31x25.gif )
}

ul.star_opt li {
    margin-top: 50px;
    font-size: 200%;
}
ul.star_opt li a {
    text-decoration: none;
}
ul.star_opt li a:hover {
    background-color: maroon;
}



